.approximation {
    background: url('https://webdevhelp.ru/upload/solutions/bg_zoom.jpg') center center;
    background-size: 100% 100%;
    transition: background-size .45s ease-in;
    -moz-transition: background-size .45s ease-in;
    -web-kit-transition: background-size .45s ease-in;
}

.approximation:hover { /* IE 9 */ /* Safari */
    background-size: 101.5% 101.5%
}

.flex-equal > * {
    flex: 1;
}

.block-h {
    height: 400px;
}

.swiper-button-prev {
    position: relative;
    top: 30%;
    width: 10px;
    height: 44px;
    z-index: 10;
    cursor: pointer;
    margin-bottom: 2rem;
    color: white;
}

.swiper-button-next {
    position: relative;
    bottom: 30%;
    width: 10px;
    height: 44px;
    z-index: 10;
    cursor: pointer;
    margin-top: 2rem;
    color: white;
}

.swiper-container {
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    flex-direction: column;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: transparent;
    opacity: 1;
    border: 1px solid #fff;
    margin-bottom: 1.5rem;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}

.swiper-pagination {
    position: relative;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-slide::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(100deg, #000000bf 20%, rgba(255, 255, 255, 0));
}

.navigation {
    position: absolute;
    z-index: 10;
    right: 50px;
    top: 50%;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}

.swiper-container {
    width: 100%;
    height: 800px;
}

.slide {
    position: relative;
    z-index: 3;
    width: 80%;
    margin: 0 auto;
}

.main-title{
    font-size: 3vw;
    font-weight: 700;
    font-family: Rubik;
    /*font-family: "quicksand", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;*/
    line-height: 1.2;
    max-width: 60%;
    margin-bottom: 3rem;
    color: white;
}
.top-title {
    font-size: 1vw;
    font-weight: 700;
    line-height: 1.2;
    color: white;
}

.has-slideshow{
    position: relative;
    z-index: -1;
    margin-top: -9.25rem;
}

.nopaddingall {
    padding: 0 !important;
}

.nomarginall {
    margin: 0 !important;
}

.g-navigation{
    opacity: 0.99;
}

.text-nav{
    color: white;
    font-family: Rubik;
    font-size: 1vw;
}

.text-nav:hover{
    color: darkorange !important;
}

.logo a{
    font-size: 1.3vw;
    font-weight: bolder;
    font-stretch: ultra-condensed;
    color: white;
    text-decoration: none;
    text-underline: none;
    transition: all 0.2s;
}

.logo a:hover{
    color: darkorange !important;
}

.a-none, .a-none:hover{
    text-decoration: none;
    color: white;
}

.social{
    color: white;
    transition: all 0.2s;
}
.social:hover{
    color: darkorange;
}

.swiper-slide{

}

.mobile-menu{
    z-index: 70;
}

.mobile-menu a {
    text-decoration: none;
    color: #1E1E23;
    opacity:1;
    font-family: Rubik;
    font-size: 1.4em;
    font-weight: 600;
    transition: 200ms;
}

.mobile-menu a:hover {
    opacity:0.5;
}

.mobile-menu ul {
    padding: 0;
    list-style-type: none;
}

#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 5px;
    z-index: 7;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
}

#menuToggle input
{
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 8;
}

#menuToggle span
{
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 7;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
    position: absolute;
    width: 99%;
    height: 480px;
    box-shadow: 0 0 25px #000000;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 140px;
    padding-left: 60px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 10px 0;
    transition-delay: 2s;
}

#menuToggle input:checked ~ ul
{
    transform: none;
}

.top-nav{
    margin-top: 10px;
}

/* NEWS GRID */
.grid{
    margin: auto auto;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    width: 255px;
    height: 160px;
    border: 1px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.grid-item .news-img{
    margin-bottom: 1.5rem;
}
.grid-item .news-img img{
    border-radius: 5px;
}
.grid-item .news-desc{
    position: static;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.news-desc .news-date{
    font-weight: 400;
    font-size: 0.9rem;
    opacity: 0.8;
    color: white;
}

.news-desc .news-title{
    font-size: 1.4rem;
    line-height: 1.44;
}

.news-title span{
    color: white;
    font-family: Rubik;
}

.grid-item--height1 { height: 260px; }
.grid-item--height2 { height: 300px; }
.grid-item--height3 { height: 470px; }
.grid-item--height4 { height: 480px; }
.grid-item--height5 { height: 485px; }

.news-nav{
    padding: 40px 50px;
    bottom: 10px;
    z-index: 1;
}

.news-text-title{
    font-family: Rubik;
    font-weight: 700;
    font-size: 2vw;
    color: white;
    text-decoration: none;
}

.nav-item{
    cursor: pointer;
    font-family: Rubik;
    font-weight: 400;
    font-size: 0.94vw;
    color: white;
    text-decoration: none;
    padding: 0.350rem 0.9rem;
    margin: 5px;
}
.nav-item:hover{
    color: white;
    text-decoration: underline;
}

.news-current{
    background: darkorange;
    border-radius: 5px;
}
.news-current:hover{
    text-decoration: none;
}
#particles-js{
    z-index: 0;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
}
.hidden{
    display: none !important;
}
/*
####################################################
M E D I A  Q U E R I E S
####################################################
Bootstrap 4 breakpoints
*/
/* Маленькие устройства (телефоны с горизонтальной ориентацией, 544 пикселей и выше) */
@media all and (max-width: 544px) { /*1rem = 16px*/
    .navigation{
        right: 30px;
    }
    .swiper-container {
        height: 650px !important;
    }
    .logo a{
        position: relative;
        top: 7px;
        font-size: 1.25rem !important;
    }
    .logo{
        text-align: center !important;
    }
    .social-icons{
        margin-top: 25px !important;
    }
    .swiper-slide{
        background-position: center top !important;
    }
    .top-nav{
        position: relative;
        top: -10px;
        margin-top: 0 !important;
    }
    .text-sm-center{
        text-align: center !important;
    }
    .news-text-title{
        text-align: center !important;
    }
}

/* Средние устройства (планшеты, 768 пикселей и выше) Переключатель панели навигации появляется в этой точке останова */
@media all and (max-width: 768px) { /*1rem = 16px*/
    .flex-md-equal > * {
        flex: 1;
    }

    .main-title{
        font-size: 2.25rem;
        max-width: 90%;
    }

    .top-title {
        font-size: 1.5rem;
        max-width: 90%;
    }

    .logo a{
        font-size: 1.05rem !important;
    }

    .text-nav{
        font-size: 14px;
    }
}

/* Большие устройства (настольные компьютеры, 992 пикселей и выше) */
@media all and (max-width: 992px) { /*1rem = 16px*/
    .main-title{
        font-size: 2rem;
    }
    .top-title {
        font-size: 1rem;
    }
    .logo a{
        position: relative;
        top: 2px;
        font-size: 1.05rem !important;
    }
    .news-text-title{
        font-size: 1.3rem;
    }

    .text-nav{
        font-size: 1.3vw;
    }
    .nav-item{
        font-size: 0.8rem;
    }
}

/* Очень большие устройства (большие рабочие столы, 1200 пикселей и выше) */
@media all and (max-width: 1200px) { /*1rem = 16px*/

}

@font-face {
    font-family: Rubik;
    src: url('/fonts/Rubik-VariableFont_wght.ttf');
}

