@media (min-width: 768px) {
    .flex-md-equal > * {
        flex: 1;
    }
}
.approximation {
    background: url('https://webdevhelp.ru/upload/solutions/bg_zoom.jpg') center center;
    background-size: 100% 100%;
    transition: background-size .45s ease-in;
    -moz-transition: background-size .45s ease-in;
    -web-kit-transition: background-size .45s ease-in;
}

.approximation:hover { /* IE 9 */ /* Safari */
    background-size: 101.5% 101.5%
}

.flex-equal > * {
    flex: 1;
}

.block-h {
    height: 400px;
}

