.footer-title{
    color: white !important;
}

.footer-item:hover{
    color: white !important;
}

.logo-footer{
    color: white !important;
}

.donate-title{
    font-family: Rubik;
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

/*
EXAMPLE OF HOW THE OBJECTS WILL LOOK  (NEED TO REMOVE IN FUTURE)
*/

.rectangle{
    background-image: url("/img/shop/items/card.png");
    width: 250px;
    height: 380px;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5);
}

.item-block{
    margin: 0 auto;
    font-family: Rubik;
}

.item-block .item-img{
    text-align: center;
}
.item-background{
    background: url(/img/shop/items/item_background.png);
    width: 130px;
    height: 143px;
    margin: auto auto;
}

.item-block .item-title{
    width: 90%;
    height: 35px;
    font-size: 1.4rem;
    text-align: center;
    padding: 8px 0;
    margin: -12px auto 0 auto;
    font-weight: 700;
    color: white;
    font-family: 'Rubik';
}

.item-quantities{
    display: flex;
    flex-wrap: wrap;
}

.item-more{
    justify-content: left;
    flex: 0 0 25%;
    max-width: 25%;
    z-index: 5;
}

.item-less{
    justify-content: right;
    flex: 0 0 25%;
    max-width: 25%;
    z-index: 5;
}

.item-field{
    justify-content: center;
    flex: 0 0 50%;
    max-width: 50%;
}

.item-button{
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.plus_button{
    background-image: url("/img/shop/items/plus.png");
    background-color: transparent;
    height: 65px;
    width: 59px;
    transition: all 0.2s;
    margin: 0 0 0 -40px;
}

.plus_button:active{
    background-image: url("/img/shop/items/plus_click.png");
    background-color: transparent;
    height: 65px;
    width: 59px;
}

.minus_button{
    background-image: url("/img/shop/items/minus.png");
    background-color: transparent;
    height: 65px;
    width: 59px;
    transition: all 0.2s;
    margin: 0 -42px 0 0;
}

.minus_button:active{
    background-image: url("/img/shop/items/minus_click.png");
    background-color: transparent;
    height: 65px;
    width: 59px;
}

.field_button{
    background-image: url(/img/shop/items/qty.png);
    background-color: transparent;
    width: 191px;
    height: 44px;
    outline: none;
    margin: 11px -33.6px 0 -33.6px;
    color: white;
    font-family: 'Rubik';
    font-size: 24px;
}
.field_button:hover, .field_button:focus{
    font-size: 24px !important;
    font-family: 'Rubik' !important;
}

.buy-item{
    background-image: url("/img/shop/items/button.png");
    background-color: white;
    width: 120px;
    height: 33px;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 4px;
}
.buy-item:active{
    background-image: url("/img/shop/items/button_click.png");
    background-color: #ff7a00;
    width: 120px;
    height: 33px;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#cartWrap{
    height: 50px;
    top: 0;
}

.sticky{
    position: fixed;
    top:0;
}

.cartCard{
    height: 200px;
    width: 150px;
    background-color: white;
    right: 10px;
    border-radius: 10px 0 0 10px;
    z-index: 10;
}

.item-add{
    margin-top: 15px;
}

.load-more{
    margin: 20px auto;
    width: 60%;
    min-height: 40px;
    border-radius: 5px;
    color: white;
    moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    background-size: 400% 100%;

    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.load-more:hover{
    background-position: 100% 0;
    moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.load-more:focus {
    outline: none;
}

.load-more-text{
    font-family: 'Rubik';
    font-size: 18px;
    font-weight: 400;
}

.load-more-color{
    background-image: linear-gradient(to right, #2a2a2a, #4c4c4c, #e7ad6c, #ff8700);
    box-shadow: 0 4px 15px 0 #fff;
}

.categories{
    margin: 20px 0;
}

.category-button{
    color: white;
    background-image: linear-gradient(to right, #2a2a2a, #4c4c4c, #e7ad6c, #ff8700);
    box-shadow: 0 0 10px 0 #969696;
    border-radius: 3px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-size: 400% 100%;
    width: 180px;
    height: 30px;
    margin: 10px 10px;

    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.category-button:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.category-button-text{
    font-family: 'Rubik';
    font-size: 18px;
    font-weight: 400;
}

.categories .selected{
    background-position: 100% 0;
}

.cart-of-items{
    width: 170px;
    height: 220px;
    background-color: #515151;
    position: -webkit-sticky;
    position: sticky;
    top: 40%;
    z-index: 1000;
    left: 100%;
    border-radius: 6px 0 0 6px;
    box-shadow: 0 0 10px 0 #969696;
    font-weight: normal;
    color: white;
    font-family: Rubik;
}

.cart-title{
    text-align: center;
    padding-top: 5px;
    font-size: 22px;
}

.cart-item{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 5px 10px 5px 10px;
}

.cart-item .cart-item-title{
    flex: 0 0 50%;
    max-width: 100%;
    text-align: left;
}

.cart-item .count{
    flex: 0 0 50%;
    max-width: 100%;
    text-align: center;
    font-weight: 700;
}

.cart-total{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 5px 5px 5px 10px;
    padding-right: 5px;
}

.cart-total .cart-total-title{
    flex: 0 0 50%;
    max-width: 100%;
    text-align: left;
}

.cart-total .cart-price{
    flex: 0 0 50%;
    max-width: 100%;
    text-align: center;
    color: white;
    font-weight: 700;
}

.view-cart{
    font-size: 15px;
    text-align: center;
    margin: 15px 0;
    color: white;
}

.view-cart:hover{
    color: #ff8700;
}

.checkout-cart{
    text-align: center;
    margin: 0 auto;
}

.checkout{
    width: 90%;
    background-image: linear-gradient(to right, #2a2a2a, #4c4c4c, #e7ad6c, #ff8700);
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-size: 400% 100%;
    border-radius: 3px;
    color: white;
    font-family: Rubik;
    font-weight: normal;


    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

.checkout:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.cart-link{
    color: white;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.cart-link:hover{
    color: #ff8700;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

hr{
    border: none;
    border-radius: 5px;
    background-color: white;
    height: 2px;
    margin: 10px 5px;
}

#particles-js{
    z-index: -1 !important;
}

input, input:active, input:hover, input:focus {
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

@media all and (min-width: 700px) {
    .item-card{
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media all and (min-width: 940px) {
    .item-card{
        flex: 0 0 33%;
        max-width: 33%;
    }
}

@media all and (min-width: 1180px) {
    .item-card{
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media all and (min-width: 1440px) {
    .item-card{
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media all and (max-width: 544px) {
    .container-fix-xs{
        max-width: calc(100% - 100px) !important;
    }
}

