.footer-title{
    color: white !important;
}

.footer-item:hover{
    color: white !important;
}

.logo-footer{
    color: white !important;
}

.donate-title{
    font-family: Rubik;
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

/*
EXAMPLE OF HOW THE OBJECTS WILL LOOK  (NEED TO REMOVE IN FUTURE)
*/

.rectangle{
    background-image: url("/img/shop/items/card.png");
    width: 250px;
    height: 380px;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5);
}

.item-block{
    margin: 0 auto;
    font-family: Rubik;
}

.item-block .item-img{
    text-align: center;
}
.item-background{
    background: url(/img/shop/items/item_background.png);
    width: 130px;
    height: 143px;
    margin: auto auto;
}

.item-block .item-title{
    width: 90%;
    height: 35px;
    font-size: 1.4rem;
    text-align: center;
    padding: 8px 0;
    margin: -12px auto 0 auto;
    font-weight: 700;
    color: white;
    font-family: 'Rubik';
}

.item-quantities{
    display: flex;
    flex-wrap: wrap;
}

.item-more{
    justify-content: left;
    flex: 0 0 25%;
    max-width: 25%;
    z-index: 5;
}

.item-less{
    justify-content: right;
    flex: 0 0 25%;
    max-width: 25%;
    z-index: 5;
}

.item-field{
    justify-content: center;
    flex: 0 0 50%;
    max-width: 50%;
}

.item-button{
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.plus_button{
    background-image: url("/img/shop/items/plus.png");
    background-color: transparent;
    height: 65px;
    width: 59px;
    transition: all 0.2s;
    margin: 0 0 0 -40px;
}

.plus_button:active{
    background-image: url("/img/shop/items/plus_click.png");
    background-color: transparent;
    height: 65px;
    width: 59px;
}

.minus_button{
    background-image: url("/img/shop/items/minus.png");
    background-color: transparent;
    height: 65px;
    width: 59px;
    transition: all 0.2s;
    margin: 0 -42px 0 0;
}

.minus_button:active{
    background-image: url("/img/shop/items/minus_click.png");
    background-color: transparent;
    height: 65px;
    width: 59px;
}

.field_button{
    background-image: url(/img/shop/items/qty.png);
    background-color: transparent;
    width: 191px;
    height: 44px;
    outline: none;
    margin: 11px -33.6px 0 -33.6px;
    color: white;
    font-family: 'Rubik';
    font-size: 24px;
}
.field_button:hover, .field_button:focus{
    font-size: 24px !important;
    font-family: 'Rubik' !important;
}

.buy-item{
    background-image: url("/img/shop/items/button.png");
    background-color: white;
    width: 120px;
    height: 33px;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 4px;
}
.buy-item:active{
    background-image: url("/img/shop/items/button_click.png");
    background-color: #ff7a00;
    width: 120px;
    height: 33px;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#cartWrap{
    height: 50px;
    top: 0;
}

.sticky{
    position: fixed;
    top:0;
}

.cartCard{
    height: 200px;
    width: 150px;
    background-color: white;
    right: 10px;
    border-radius: 10px 0 0 10px;
    z-index: 10;
}

.item-add{
    margin-top: 15px;
}

input, input:active, input:hover, input:focus {
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

@media all and (min-width: 920px) {
    .item-card{
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media all and (max-width: 544px) {
    .container-fix-xs{
        max-width: calc(100% - 100px) !important;
    }
}


